#main{
    background-color: black;
    width: 100%;
    height: 3;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    gap: 40%;
}

h1{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px; 
}

.right{
    width: 100px;
    height: 100px;
}

hero{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 1000px;
    padding: 40px;
}

.left{
    text-align: center;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}


/* body{
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}

#main{
    width: 1000px;
    height: auto;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
#div1, #div2, #div3, #div4{
    
    border: 1.5px solid black;
    background-color: rgb(100, 124, 123);
    height: 100px;
    width: 100%;
    color: wheat;
    border-radius: 10px 0 10px;  
    text-align: center;
}

button{
    border: 2px solid black;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    padding: 10px;
}

button:hover{
    transform: scale(0.7);
    transform-origin: 0%;

}
ol{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;

}
.container{
    align-items:start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    background-color: black;
    color: white;
}

nav.container{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
}


#logo{
    font-size: 40px;
    margin-bottom: 20px;
}

.banner{
    display: flex;

}
div{   
    padding: 20px; 
    margin: 10px;
} */
        



/* #div2{
    flex-shrink: 2;
    flex-grow: 2;
    
} */

/* container div  
.container {
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    position: absolute;
    z-index: -1;
}
#div1{
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 2px solid black;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}
#div2{
    width: 100px;
    height: 100px;
    background-color: black;
    border: 2px solid black;
    position: relative;
    z-index: 1;
    border-radius: 50px;
}
#div3{
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 2px solid black;
    position: relative;
    z-index: 1;
    border-radius: 0px 20px 20px  20px;
} */

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#container {
    background-color: blueviolet;
    width: 400px;
    height: 300px;
    border: 2px solid black;
    position: relative;
}

#div1 {
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: relative;
    
    top: -40px;
    left: -40px;
}

#div2 {
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -40px;
    right: -40px;
}

#div3 {
    background-color: brown;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -40px;
    left: -40px;
}

#div4 {
    background-color: black;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -40px;
    right: -40px;

} */


/* body{
    background: greenyellow;
    justify-content: center;
    align-items: center;
    height: 180;
    width: 180;
}
div{
    background: blueviolet;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-top: 250px;
    margin-left: 325px;

}
a:{
    background: black;
    width: 100px;
}
button:hover{
    background-color: rgb(221, 201, 172);
    transition: 1.7s;
    transform: scale(1.7);
    border: 2px solid white;
    color: black;
}
button{
    color: white;
    background-color: rgb(0,0,0);
    font-size: 20px;
}
 */

