.container {
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    position: absolute;
    z-index: -1;
}
#div1{
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 2px solid black;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}
#div2{
    width: 100px;
    height: 100px;
    background-color: black;
    border: 2px solid black;
    position: relative;
    z-index: 1;
    border-radius: 50px;
}
#div3{
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 2px solid black;
    position: relative;
    z-index: 1;
    border-radius: 0px 20px 20px  20px;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#container {
    background-color: blueviolet;
    width: 400px;
    height: 300px;
    border: 2px solid black;
    position: relative;
}

#div1 {
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: relative;
    
    top: -40px;
    left: -40px;
}

#div2 {
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -40px;
    right: -40px;
}

#div3 {
    background-color: brown;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -40px;
    left: -40px;
}

#div4 {
    background-color: black;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -40px;
    right: -40px;

} */


/* body{
    background: greenyellow;
    justify-content: center;
    align-items: center;
    height: 180;
    width: 180;
}
div{
    background: blueviolet;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-top: 250px;
    margin-left: 325px;

}
a:{
    background: black;
    width: 100px;
}
button:hover{
    background-color: rgb(221, 201, 172);
    transition: 1.7s;
    transform: scale(1.7);
    border: 2px solid white;
    color: black;
}
button{
    color: white;
    background-color: rgb(0,0,0);
    font-size: 20px;
}
 */

